.cat_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    margin: 15px;
    cursor: pointer;
}

.nxt_arr {
    height: 20px;
    width: 20px;
    margin: 0 10px;
}

.cat_icon {
    height: 35px;
    width: 35px;
    margin: 5px 5px;
}

.cat_text {
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.head_img {
    background-image: url("../../assets/images/Pattern.svg");
    height: 250px;
    width: 100%;
}

.pro_title {
    color: #5E56E7;
    font-size: 48px;
}

.pro_desc {
    color: #333333;
    font-size: 16px;
}

.pro {

    display: grid;
    justify-content: center;
}

.render_cat {
    display: grid;
    grid-template-columns: auto auto auto;
}


.card {
    margin: 10px !important;
}


.cat {
    background-color: #F8F7FF;
    padding: 50px 0;
}

.c-pointer {
    cursor: pointer;
}